<app-layout>
  <div class="container p-4">
    <div class="row mt-5 mb-3">
      <div class="col-4">
        <label class="form-label">Class</label>
        <input type="text" class="form-control" [(ngModel)]="filter.class">
      </div>
      <div class="col-4">
        <label class="form-label">Section</label>
        <input type="text" class="form-control" [(ngModel)]="filter.section">
      </div>
      <div class="col-4">
        <label class="form-label">Template</label>
        <input type="text" class="form-control" [(ngModel)]="filter.template">
      </div>
    </div>
    <div class="text-end mb-5">
      <button class="btn" (click)="getCertificates()">Filter</button>
    </div>

    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">SL</th>
          <th scope="col">Student Name</th>
          <th scope="col">Category</th>
          <th scope="col">Register No.</th>
          <th scope="col">Roll</th>
          <th scope="col">Mobile No.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cert of certi; index as i">
          <td>{{i + 1}}</td>
          <td>{{cert.applicableStudent.firstName + ' ' + cert.applicableStudent.lastName}}</td>
          <td></td>
          <td>{{cert.applicableStudent.registerNo}}</td>
          <td></td>
          <td>{{cert.applicableStudent.number}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-layout>
