<app-layout>

    <div class="container p-5">


        <div class="container-fluid">
            <div class="row">
                <div class="col-2 py-3">
                    <div>
                        <img class="capimg" src="../../../../assets/images/capimg.png" alt="">
                        Student list</div>
                </div>
                <div class="col-10">
                    <div class="border"></div>
                </div>
    
            </div>
            <div class="row first_box mb-4">
                <div class="col-12 px-0">
                    <p class="border__botton ps-2">Select Ground</p>
    
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <p>Class<sup class="red">*</sup></p>
                            <select class="form-select rounded-pill" aria-label="Default select example">
                                <option selected>Select</option>
                                <option value="1">Select</option>
                                <option value="2">Six</option>
                                <option value="3">Seven</option>
                            </select>
                        </div>
                        <div class="col">
                            <p>Section</p>
                            <select class="form-select rounded-pill " aria-label="Default select example">
                                <option selected>A</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                            </select>
                        </div>
                        <div class="col-12 text-end px-0 pt-4">
    
                            <div class="button pe-5 pt-1 pb-1"><button type="button"
                                    class="btn button_color">Filter</button></div>
    
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="row second_box mt-2">
                <div class="col-12 px-0">
                    <p class="border__botton ps-2">
                        <img class="capimg" src="../../../../assets/images/capimg.png" alt="">
                        Student List</p>
    
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col">
    
                        </div>
                        <div class="col">
                            <div class="input-group rounded pb-3">
                                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                                    aria-describedby="search-addon" />
    
                            </div>
                        </div>
                      <div class="col-12">
                        <div class="row">
                            <div class="col-12 ">
                                <table class="table table-bordered">
                                    <thead class="bg-gray">
                                      <tr>
                                        <th scope="col"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                                        <th scope="col">Photo</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Class</th>
                                        <th scope="col">Section</th>
                                        <th scope="col">Register No</th>
                                        <th scope="col">Roll</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Guardian Name</th>
                                        <th scope="col">Fees Pregress</th>
                                        <th scope="col">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                                        <td class="text-center"><img class="image" src="../../../../assets/images/girl.jpeg" alt=""></td>
                                        <td>Willian Vincent</td>
                                        <td>Six</td>
                                        <td>A</td>
                                        <td>RSM-00004</td>
                                        <td>1</td>
                                        <td>22</td>
                                        <td>Ryan Cameron</td>
                                        <td><div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                <span>0%</span>
                                            </div>
                                          </div></td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                                        <td class="text-center"><img class="image" src="../../../../assets/images/class.jpeg" alt=""></td>
                                        <td>Tahlia Prior</td>
                                        <td>Six</td> 
                                        <td>A</td>
                                        <td>RSM-00006</td>
                                        <td>6</td>
                                        <td>27</td>
                                        <td>Aiden Loxton</td>
                                        <td><div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                <span>0%</span>
                                            </div>
                                          </div></td>
                                        <td></td>
                                      </tr>
                                     
                                     
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</app-layout>