
    <app-layout>

        <div class="container p-5">
          
           
            <div class="mb-4">
                <div class="subjects-cont mt-3">
                  <div class="f-heading sub-heading">
                    <h5>
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                   Classes
                    </h5>
                  </div>
        
                  <div class="subject-list">
                    <button class="btnA btn-light">
                        <
                      </button>
                    <button class="btn btn-light">
                      1
                    </button>
        
                    <button class="btn btn-light">
                      2
                    </button>
        
                    <button class="btn btn-light">
                      3
                    </button>
        
                    <button class="btn btn-light">
                      4
                    </button>
        
                    <button class="btn btn-light">
                      5
                    </button>
                    <button class="btn btn-light">
                        6
                      </button>
                      <button class="btn btn-light">
                        7
                      </button>
                      <button class="btn btn-light">
                        8
                      </button>
                      <button class="btn btn-light">
                        9
                      </button>
                      <button class="btn btn-light">
                        10
                      </button>
                      <button class="btn btn-light">
                        11
                      </button>
                      <button class="btn btn-light">
                        12
                      </button>
                      <button class="btnA btn-light">
                        >
                      </button>
                  </div>
                </div>
              </div>
              <!-- sections -->
              <div class="f-heading">
                <h6>
              
                Sections
                </h6>
              </div>
              <!-- teachers -->
              <div class="sctn-teach row">

                <div class="col-3 teachOne py-3">
                    <div class="teach-infoCard">
                        <div class="teach-topInfo">
                            <div class="teach-imgBox">
                                <img src="" alt="" />
                            </div>
                            <div class="teach-nameInfo">
                                <h5>Miss Teacher's Name</h5>
                                <p>Class Incharge</p>
                            </div>                            
                        </div>

                        <div class="teach-profInfoCard">
                            <ul>
                                <li>
                                    <div class="teach-profInfo-label">Class</div>
                                    <div class="teach-profInfo-txt">7</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Section</div>
                                    <div class="teach-profInfo-txt">A</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                            </ul>
                        </div>
                      
                        
                    </div>
                </div>
                <div class="col-3 teachTwo py-3">
                    <div class="teach-infoCard">
                        <div class="teach-topInfo">
                            <div class="teach-imgBox">
                                <img src="" alt="" />
                            </div>
                            <div class="teach-nameInfo">
                                <h5>Miss Teacher's Name</h5>
                                <p>Class Incharge</p>
                            </div>                            
                        </div>

                        <div class="teach-profInfoCard">
                            <ul>
                                <li>
                                    <div class="teach-profInfo-label">Class</div>
                                    <div class="teach-profInfo-txt">7</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Section</div>
                                    <div class="teach-profInfo-txt">A</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                            </ul>
                        </div>
                      
                        
                    </div>
                </div>
                <div class="col-3 teachThr py-3">
                    <div class="teach-infoCard">
                        <div class="teach-topInfo">
                            <div class="teach-imgBox">
                                <img src="" alt="" />
                            </div>
                            <div class="teach-nameInfo">
                                <h5>Miss Teacher's Name</h5>
                                <p>Class Incharge</p>
                            </div>                            
                        </div>

                        <div class="teach-profInfoCard">
                            <ul>
                                <li>
                                    <div class="teach-profInfo-label">Class</div>
                                    <div class="teach-profInfo-txt">7</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Section</div>
                                    <div class="teach-profInfo-txt">A</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                            </ul>
                        </div>
                      
                        
                    </div>
                </div>
                <div class="col-3 teachFor py-3">
                    <div class="teach-infoCard">
                        <div class="teach-topInfo">
                            <div class="teach-imgBox">
                                <img src="" alt="" />
                            </div>
                            <div class="teach-nameInfo">
                                <h5>Miss Teacher's Name</h5>
                                <p>Class Incharge</p>
                            </div>                            
                        </div>

                        <div class="teach-profInfoCard">
                            <ul>
                                <li>
                                    <div class="teach-profInfo-label">Class</div>
                                    <div class="teach-profInfo-txt">7</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Section</div>
                                    <div class="teach-profInfo-txt">A</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                                <li>
                                    <div class="teach-profInfo-label">Total Student</div>
                                    <div class="teach-profInfo-txt">47</div>
                                </li>
                            </ul>
                        </div>
                      
                        
                    </div>
                </div>


                 </div>
              <!-- student -->
              <!-- <div class="container border bg-light py-4"> -->
              <div class="f-heading py-3">
                <h6>
              
                Students
                </h6>
              </div>
              <div class="grid-student">
              <div class="row">
        
                <div class="col-2 border bg-light">
                    <div class="stud-Info ">
                        <div class="teach-imgBoxTwo">
                            <img src="" alt="" />
                        </div>
                        <div class="teach-nameInfoTwo">
                            <h5>Radhika</h5>
                            <!-- <p>Class Incharge</p> -->
                        </div>                            
                    </div>
        </div>
                <div class="col-2 border bg-light">
                    hi
                </div>
                <div class="col-2 border bg-light">
                    hi
                </div>
                <div class="col-2 border bg-light">
                    hi
                </div>
                <div class="col-2 border bg-light">
                    hi
                </div>
          
                
              </div>
            </div>
            <!-- </div> -->
            </div>
    </app-layout>