<app-layout>
    <div class="container p-4">
        <div class="tab-container">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Fine List">
                    <div class="pt-4">
                      <div class="top-options">
                        <div class="search-area">
                          <div class="input-group pe-3">
                            <input type="search" class="form-control" placeholder="Search here...">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                          </div>
                          <div class="options">
                            <button class="btn"><img src="assets/icons/opt-copy.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-excel.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-pdf.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-sheet.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-print.svg"></button>
                          </div>
                        </div>
          
                       
                      </div>
          
                      <table class="table mt-3">
                        <thead>
                          <tr>
                            <!-- <th scope="col"><input type="checkbox" class="form-check-input"></th> -->
                            <th scope="col">SNo</th>
                   
                            <th scope="col"> Group Name</th>
               
                            <th scope="col">Fee Type Name</th>
                            <th scope="col">Fine type</th>

                            <th scope="col">Fine Value</th>
                            <th scope="col">Late Fee Frequency</th>
                            <th scope="col">Action</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr  *ngFor="let fine of fines; let i= index">
                            <!-- <td scope="row"><input type="checkbox" class="form-check-input"></td> -->
                            <td>{{i+1}}</td>
                         
                          <td>{{fine.groupName}}</td>
                           
                           <td>fee type</td>
                            <!-- <td *ngFor="let name of fines.feeType">{{name.name}}</td> -->
                            <td>{{fine.fineType}}</td>
                     

                      
                            <td>{{fine.fineValue}}</td>
                            <td>{{fine.lateFeeFrequency}}</td>
                         
                            <td>
                              <button class="btn emp-edit me-1"><i class="fa-solid fa-pencil"></i></button>
                              <button class="btn emp-edit ms-1"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <mat-paginator [length]="100"
                      [pageSize]="10"
                      #paginator
                      [pageSizeOptions]="[ 10, 25, 100]"
                      aria-label="Select page">
        </mat-paginator>
                    </div>
                  </mat-tab>
                  <mat-tab label="Add Fine ">
                    <div class="container">
                      <form [formGroup]="fineSetupForm" (ngSubmit)="addFineSetup()" >
                        <div class="mb-3 py-2">
                            <label class="form-label">Group Name*</label>
                            <input type="text" formControlName="group_name" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Fees Type*</label>
                            <input type="text"  formControlName= "feeType"class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Fine Type*</label>
                            <input type="text" formControlName= "fineType" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Fine value*</label>
                            <input type="text" formControlName="fineValue" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Late Fee Frequency*</label>
                            <input type="text" formControlName="lateFeeFrequency" class="form-control">
                          </div>
                          <div class="text-end">
                            <button type="submit" class="btn" [disabled]="isLoading || !fineSetupForm.valid">
                              <span *ngIf="isLoading" class="spinner-border text-light"></span>
                              <span *ngIf="!isLoading">Save</span>
                            </button>
                          </div>
                          </form>
                    </div>
                </mat-tab>

  </mat-tab-group>
            </div>

        </div>
    
    </app-layout>