<app-layout>
    <div class="container p-5">
        <div class="row ">
            <div class="row pb-3">
        <div class="mb-5">
            <div class="f-heading">
                <h4>
                    <i class="fa-solid fa-file-import"></i>
            Multiple Import
                </h4>
            </div>
       
            <div  class="col-12 col-md-5 mt-4">
            <div class="row pb-3">
                <div class="col-6">
                    <div class="form-group">
                        <label>Class</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Section</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="mb-5">
            <fieldset>
                <legend>Select CSV File</legend>
                <div class="row upload-cont-row">
                    <div class="col-2">
                        <div class="upload-cont">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

      

        <div class="mb">
            <div class="import-btn">
            <button class="btn btn-lg ">
                Import <i class="fa-solid fa-file-import"></i></button>
        </div>
        </div>
        </div>
        </div>
<!-- <div class="row-6">
<div class="col-12 col-md-7 mt-4">
    <div class="paragraph">
        hi this is left side 
    </div>
</div>
</div> -->


    </div>
</app-layout>