<app-layout>
  <div class="container p-4">
    <div class="row mt-5 mb-3">
      <div class="col-4">
        <label class="form-label">Exam *</label>
        <select class="form-select" formControlName="examId">
          <option disabled value="select">Select</option>
          <option *ngFor="let exam of exams" [value]="exam._id"> 
            {{exam.name}}
          </option>
        </select>
      </div>
      <div class="col-4 offset-4">
        <label class="form-label">Class *</label>
     
        <select class="form-select" formControlName="examId">
          <option disabled value="select">Select</option>
          <option *ngFor="let class of classes" [value]="class._id">  
            {{class.className}}
          </option>
        </select>
      </div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col-4">
        <label class="form-label">Section *</label>
        <select class="form-select" formControlName="examId">
          <option disabled value="select">Select</option>
          <option *ngFor="let sec of sections" [value]="sec._id"> 
            {{sec.name}}
          </option>
        </select>
      </div>
      <div class="col-4 offset-4">
        <label class="form-label">Subject *</label>
        <select class="form-select" formControlName="examId">
          <option disabled value="select">Select</option>
          <option *ngFor="let class of subjects" [value]="class._id">  
            {{class.subjectName}}
          </option>
        </select>
      </div>
    </div>
    <div class="text-end mb-5">
      <button class="btn">Save</button>
    </div>

    <p class="table-heading">Marks Entries</p>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">SL</th>
          <th scope="col">Student Name</th>
          <th scope="col">Category</th>
          <th scope="col">Register No.</th>
          <th scope="col">Roll</th>
          <th scope="col">Is Absent</th>
          <th scope="col">Practical (40)</th>
          <th scope="col">Written (60)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#001234</td>
          <td>Fanny Siregar</td>
          <td>General</td>
          <td>111111</td>
          <td>11</td>
          <td>
            <input class="form-check-input check" type="checkbox">
          </td>
          <td>
            <input class="form-control marks" type="number">
          </td>
          <td>
            <input class="form-control marks" type="number">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-layout>
