<app-layout>
  <div class="body_content bg-light pt-5">
    <!-- ************************************************form*********************************************************** -->
        <div class="form_card bg-white pt-3">
          <div class="row">
            <div class="col-12 Student_text"><i class="bi bi-mortarboard-fill mx-2"></i> Student Details <div class="right_line"></div></div>
            <div class="col-12 col-md-5 mt-4">
              <div class="cards_common bg-light">
                <div class="modal-header">
                  <h6 class="modal-title"><i class="bi bi-pencil-square mx-2"></i> Add category </h6>
                </div>
                <div class="modal-body bg-white">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Company name <span class="text-danger">*</span></label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="save_button">Save</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-7 mt-4">
              <div class="cards_common bg-light">
                <div class="modal-header">
                  <h6 class="modal-title"><i class="bi bi-card-list mx-2"></i> Category list</h6>
                </div>
                <div class="modal-body bg-white">
                  <table>
                    <tr>
                      <th>Branch</th>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Action</th>
                    </tr>
                    <tr>
                      <td>Oxford International</td>
                      <td>6</td>
                      <td>Germany</td>
                      <td><i class="bi bi-gear-wide setting_icon me-1"></i> <i class="bi bi-trash-fill delete_icon"></i></td>
                    </tr>
                    <tr>
                      <td>Oxford International</td>
                      <td>7</td>
                      <td>Austria</td>
                      <td><i class="bi bi-gear-wide setting_icon me-1"></i> <i class="bi bi-trash-fill delete_icon"></i></td>
                    </tr>
                    <tr>
                      <td>Oxford International</td>
                      <td>8</td>
                      <td>UK</td>
                      <td><i class="bi bi-gear-wide setting_icon me-1"></i> <i class="bi bi-trash-fill delete_icon"></i></td>
                    </tr>
                    <tr>
                      <td>Oxford International</td>
                      <td>9</td>
                      <td>Canada</td>
                      <td><i class="bi bi-gear-wide setting_icon me-1"></i> <i class="bi bi-trash-fill delete_icon"></i></td>
                    </tr>
                    <tr>
                      <td>Oxford International</td>
                      <td>10</td>
                      <td>Italy</td>
                      <td><i class="bi bi-gear-wide setting_icon me-1"></i> <i class="bi bi-trash-fill delete_icon"></i></td>
                    </tr>
                  </table>
                </div>
                </div>
            </div>
          </div>
        </div>
    <!-- *************************************************************************************************** -->

</div>
</app-layout>
