
<app-layout>
    <div class="container p-4">
      <div class="tab-container">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Banner">
            <h4>Banner Data</h4>
        <!-- code here for Banner -->
        
          </mat-tab>
          <mat-tab label="Notice Board">
        <!-- code here for Notice Board -->
        <h4>Notice Data</h4>


          </mat-tab>

        
           <mat-tab label=" Notification">
        <!-- code here for Notification -->
        <h4>Notificsation Data</h4>

           
          </mat-tab> 
           <mat-tab label="Raised Ticket ">
        <!-- code here for Raised Ticket -->
        <h4>Banner Data</h4>

           
          </mat-tab> 
          
          <mat-tab label=" Leave">
        <!-- code here for Leave -->
        <h4>leave Data</h4>

           
          </mat-tab> 
        </mat-tab-group>
      </div>
      </div>
      </app-layout>
  
  
  