<app-layout>
  <div class="container p-5">
    <div class="mb-5">
      <div class="f-heading">
        <h4>
          <i class="fa-solid fa-graduation-cap"></i>
          Academic Details
        </h4>
      </div>

      <div class="row pb-3">
        <div class="col-3">
          <div class="form-group">
            <label>Academic Year</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label>Register</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label>Roll</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label>Admission Date</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-4">
          <div class="form-group">
            <label>Class</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Section</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Category</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <div class="f-heading">
        <h4>
          <i class="fa-solid fa-graduation-cap"></i>
          Student Details
        </h4>
      </div>

      <div class="row pb-3">
        <div class="col-4">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Gender</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-6">
          <div class="form-group">
            <label>Blood group</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label>Date of birth</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-4">
          <div class="form-group">
            <label>Mother Tongue</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Religion</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Caste</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-3">
          <div class="form-group">
            <label>Mobile No</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-6">
          <div class="form-group">
            <label>Permanent address</label>
            <textarea type="text" class="form-control" > </textarea>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label>Present address</label>
            <textarea type="text" class="form-control" > </textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <fieldset>
        <legend>Upload Document</legend>
        <div class="row upload-cont-row">
          <div class="col-2">
            <div class="upload-cont">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
          <div class="col-2">
            <div class="upload-cont">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
          <div class="col-2">
            <div class="upload-cont">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
          <div class="col-2">
            <div class="upload-cont">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
          <div class="col-2">
            <div class="upload-cont">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
          <div class="col-2">
            <div class="upload-cont">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="mb-5">
      <div class="profile-cont">
        <h2>Profile Picture</h2>
        <i><i class="fa-solid fa-user-plus"></i></i>
      </div>
    </div>

    <div class="mb-5">
      <div class="f-heading guardian">
        <h4 style="color: rgb(220, 215, 80) !important;">
          <i class="fa-solid fa-graduation-cap"></i>
          Guardian Details
        </h4>
      </div>
      <div class="form-check py-2 guard-check">
        <input class="form-check-input" type="checkbox" value="" style="color: aqua!important;" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="color: aqua;">Guardian already exist</label>
      </div>

      <div class="row pb-3">
        <div class="col-6">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label>Relation</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-6">
          <div class="form-group">
            <label>Father name</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label>Mother name</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-4">
          <div class="form-group">
            <label>Occupation</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Income</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Education</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-3">
          <div class="form-group">
            <label>Mobile no</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-12">
          <div class="form-group">
            <label>Permanent address</label>
            <textarea type="text" class="form-control" ></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <div class="profile-cont">
        <h2 >Guardian Picture</h2>
        <i><i class="fa-solid fa-user-plus"></i></i>
      </div>
    </div>

    <div class="mb-5">
      <div class="f-heading login">
        <h4 style="color: greenyellow !important;">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
          Login Details
        </h4>
      </div>

      <div class="row pb-3">
        <div class="col-4">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Retype Password</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5 text-center">
      <button class="btn btn-lg">Send <i class="fa-solid fa-play"></i></button>
    </div>

    <div class="mb-5">
      <div class="f-heading login">
        <h4 style="color: greenyellow !important;">
          <i class="fa-solid fa-van-shuttle"></i>
          Transport Details
        </h4>
      </div>

      <div class="row pb-3">
        <div class="col-6">
          <div class="form-group">
            <label >Transport route</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label>Vehicle no</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <div class="f-heading login">
        <h4 style="color: greenyellow !important;">
          <i class="fa-solid fa-hotel"></i>
          Hostel Details
        </h4>
      </div>

      <div class="row pb-3">
        <div class="col-6">
          <div class="form-group">
            <label>Hostel name</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label>Room name</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <div class="f-heading login">
        <h4 style="color: greenyellow !important;">
          <i class="fa-solid fa-school-circle-exclamation"></i>
          Previous School Details
        </h4>
      </div>

      <div class="row pb-3">
        <div class="col-6">
          <div class="form-group">
            <label>School name</label>
            <input type="text" class="form-control" >
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label>Qualification</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-12">
          <div class="form-group">
            <label>Remarks</label>
            <textarea type="text" class="form-control" > </textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5 text-end">
      <button class="btn btn-lg btn-success">Save</button>
    </div>
  </div>
</app-layout>
