<app-layout>
    <div class="container p-4">
        <div class="tab-container">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Templete List">
                    <div class="pt-4">
                      <div class="top-options">
                        <div class="search-area">
                          <div class="input-group pe-3">
                            <input type="search" class="form-control" placeholder="Search here...">
                        </div>
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                          <div class="options">
                            <button class="btn"><img src="assets/icons/opt-copy.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-excel.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-pdf.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-sheet.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-print.svg"></button>
                          </div>
                        </div>
          
                       
                      </div>
          
                      <table class="table mt-3">
                        <thead>
                          <tr>
                            <th scope="col"><input type="checkbox" class="form-check-input"></th>
                            <th scope="col">SL</th>
                   
                            <th scope="col">Branch</th>
               
                            <th scope="col">Salary Grades</th>
                            <th scope="col">Basic Salary</th>

                            <th scope="col">OverTime Rate(per hour)</th>
                            <th scope="col">Action </th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row"><input type="checkbox" class="form-check-input"></td>
                            <td>#001234</td>
                         
                          
                            <td>College</td>
                      
                            <td>Principal</td>
                            <td>Science</td>
                            <td>Science</td>

                         
                            <td>
                              <button class="btn emp-edit me-1"><i class="fa-solid fa-pencil"></i></button>
                              <button class="btn emp-edit ms-1"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-tab>
                  <mat-tab label="Create Templete">
                    <div class="container">
                        <div class="row mb-3">
                            <div class="col-4 py-3">
                                <label class="form-label">Salary Grade *</label>
                                <input type="text" class="form-control">
                              </div>
                              <div class="row mb-3">
                                <div class="col-4">
                                  <label class="form-label">Basic Salary *</label>
                                  <input type="text" class="form-control">
                                </div>
                                <div class="col-4 offset-4">
                                    <label class="form-label">OverTime Rate per Hour *</label>
                                    <input type="text" class="form-control">
                                  </div>
                              
                              </div>
                              
                        </div>
                        <div class="row mb-2">
                            <div class="col-4 py-3">
                              <label class="form-label py-4"> <strong>  Allowances</strong></label> <br>
                              <label class="form-label">Name of Allowances *</label>
                              <input type="text" class="form-control"> <br>
                              <label class="form-label">Amount *</label>
                              <input type="text" class="form-control"><br>
                              <div class="text-end">
                                <button class="btn">Add Rows</button>
                              </div>
                            </div>
                            <div class="col-4 offset-4 py-3">
                                <label class="form-label py-4"> <strong>  Deductions</strong></label><br>
                                <label class="form-label">Name of Allowances *</label>
                                <input type="text" class="form-control"><br>
                                <label class="form-label">Amount *</label>
                                <input type="text" class="form-control"><br>
                                <div class="text-end">
                                    <button class="btn">Add Rows</button>
                                  </div>

                                  <!--  -->
                                  <label class="form-label py-4"> <strong>  Salary Details</strong></label><br>
                                  <label class="form-label">Basic Salary *</label>
                                  <input type="text" class="form-control"><br>
                                  <label class="form-label"> Total Amount *</label>
                                  <input type="text" class="form-control"><br>
                                  <label class="form-label">Total Deducation  *</label>
                                  <input type="text" class="form-control"><br>
                                  <label class="form-label">Net Salary *</label>
                                  <input type="text" class="form-control"><br>

                              </div>
                              
                          
                          </div>
                          
                          
                    </div>
                </mat-tab>

  </mat-tab-group>
            </div>

        </div>
    
    </app-layout>