<mat-list>
  <mat-list-item routerLink="{{routes.SECTIONS}}" routerLinkActive="active">
    <mat-icon matListItemIcon>border_all</mat-icon> Dashboard
  </mat-list-item>
  <mat-list-item (click)="isSubMenuOpen=!isSubMenuOpen">
    <mat-icon matListItemIcon>group_work</mat-icon> Admission
  </mat-list-item>
  <!--Sub Menu-->
    <div>
      <mat-list-item class="sub-menu" [routerLink]="routes.C_ADMISSION" routerLinkActive="active">
        Create Admission
      </mat-list-item>
      <mat-list-item class="sub-menu" [routerLink]="routes.CAT_ADMISSION" routerLinkActive="active">
        Category
      </mat-list-item>
      <mat-list-item class="sub-menu" [routerLink]="routes.MUL_ADMISSION" routerLinkActive="active">
        Multiple Import
      </mat-list-item>
    </div>
  <mat-list-item>
    <mat-icon matListItemIcon>add_home</mat-icon> Attendance
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListItemIcon>account_balance</mat-icon> Academic
  </mat-list-item>
  <mat-list-item matListItemIcon [routerLink]="routes.STUDNT_DETAIL" routerLinkActive="active">
    <mat-icon matListItemIcon>photo_alum</mat-icon>Student Details
  </mat-list-item>
  <div>
    <mat-list-item class="sub-menu" [routerLink]="routes.STUDNT_LIST" routerLinkActive="active">
      Student List
    </mat-list-item>
    <mat-list-item class="sub-menu">
      Login Deactivate
    </mat-list-item>
  </div>
  <mat-list-item>
    <mat-icon matListItemIcon>photo_alum</mat-icon>Employees
  </mat-list-item>
  <div>
    <mat-list-item class="sub-menu" [routerLink]="routes.EMP_LIST" routerLinkActive="active">
      Employee Lists
    </mat-list-item>
    <mat-list-item class="sub-menu" [routerLink]="routes.EMP_DEPT" routerLinkActive="active">
      Add Department
    </mat-list-item>
    <mat-list-item class="sub-menu" [routerLink]="routes.EMP_DES" routerLinkActive="active">
      Add Designation
    </mat-list-item>
    <mat-list-item class="sub-menu" [routerLink]="routes.EMP_ADD" routerLinkActive="active">
      Add Employee
    </mat-list-item>
  </div>
  <mat-list-item>
    <mat-icon matListItemIcon>photo_alum</mat-icon>Certificate
  </mat-list-item>
  <div>
    <mat-list-item class="sub-menu" [routerLink]="routes.CERT_TEMP" routerLinkActive="active">
      Certificate Template
    </mat-list-item>
    <mat-list-item class="sub-menu" [routerLink]="routes.CERT_STUD" routerLinkActive="active">
      Generate Student
    </mat-list-item>
    <mat-list-item class="sub-menu" [routerLink]="routes.CERT_EMP" routerLinkActive="active">
      Generate Employee
    </mat-list-item>
  </div>
  <mat-list-item>
    <mat-icon matListItemIcon>photo_alum</mat-icon>Exam Master
  </mat-list-item>
  <div>
    <mat-list-item class="sub-menu" [routerLink]="routes.MARKS_ENTRY" routerLinkActive="active">
      Marks Entries
    </mat-list-item>
    <mat-list-item class="sub-menu" [routerLink]="routes.GRADE_RANGE" routerLinkActive="active">
      Grades Range
    </mat-list-item>
  </div>
  <mat-list-item>
    <mat-icon matListItemIcon>photo_alum</mat-icon>Homework
  </mat-list-item>
  <div>
    <mat-list-item class="sub-menu" [routerLink]="routes.WORK_LIST" routerLinkActive="active">
      Homework
    </mat-list-item>
    <mat-list-item class="sub-menu" [routerLink]="routes.EVAL_REPORT" routerLinkActive="active">
      Evaluation Report
    </mat-list-item>
  </div>
  <mat-list-item routerLink="{{routes.CAREERS}}" routerLinkActive="active">
    <mat-icon matListItemIcon>library_books</mat-icon> Reports
  </mat-list-item>
  <mat-list-item routerLink="{{routes.STUDCORNER}}" routerLinkActive="active">
    <mat-icon matListItemIcon>co_present</mat-icon> Student Accounting
  </mat-list-item>
  <mat-list-item routerLink="{{routes.PUBLIC_MEND}}" routerLinkActive="active">
    <mat-icon matListItemIcon>document_scanner</mat-icon> Reception
  </mat-list-item>
</mat-list>

