<mat-list>
  <mat-list-item routerLink="{{routes.SECTIONS}}" routerLinkActive="active">
    <mat-icon matListItemIcon>border_all</mat-icon> Dashboard
  </mat-list-item>
  <mat-list-item routerLink="{{routes.ABOUTUS}}" routerLinkActive="active">
    <mat-icon matListItemIcon>group_work</mat-icon> Admission
  </mat-list-item>
  <mat-list-item routerLink="{{routes.ADMISSION}}" routerLinkActive="active">
    <mat-icon matListItemIcon>add_home</mat-icon> Attendance
  </mat-list-item>

  <mat-list-item routerLink="{{routes.NOTIFICATION}}" routerLinkActive="active">
    <mat-icon matListItemIcon>account_balance</mat-icon> Academic
  </mat-list-item>
  <mat-list-item routerLink="{{routes.GALLERY}}" routerLinkActive="active">
    <mat-icon matListItemIcon>photo_album</mat-icon>Student Details
  </mat-list-item>
  <mat-list-item routerLink="{{routes.CAREERS}}" routerLinkActive="active">
    <mat-icon matListItemIcon>library_books</mat-icon> Reports
  </mat-list-item>
  <mat-list-item routerLink="{{routes.STUDCORNER}}" routerLinkActive="active">
    <mat-icon matListItemIcon>co_present</mat-icon> Student Accounting
  </mat-list-item>
  <mat-list-item routerLink="{{routes.PUBLIC_MEND}}" routerLinkActive="active">
    <mat-icon matListItemIcon>document_scanner</mat-icon> Reception
  </mat-list-item>
</mat-list>

