<app-layout>
  <div class="container p-5">
    <div class="mb-5">
      <div class="f-heading">
        <h4>
          <i class="fa-solid fa-graduation-cap"></i>
          Multiple Report
        </h4>
      </div>

      <div class="row py-3">
        <div class="col-6">
          <div class="row pb-3">
            <div class="col-6">
              <div class="form-group">
                <label>Class</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Section</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row pb-3">
            <div class="col-12">
              <div class="form-group">
                <label>Select CSV File</label>
                <div class="uploads">
                  <div class="upload-cont">
                    <i class="fa-solid fa-plus"></i>
                  </div>
                  <p class="pt-3 text-center">Drag and drop a file here or click</p>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-5 text-center">
            <button class="btn btn-lg">Import <i class="fa-solid fa-file-import"></i></button>
          </div>
        </div>

        <div class="col-6 intruct-col">
          <p>Instructions:</p>
          <ol>
            <li> Download the first sample file.</li>
            <li> Open the downloaded 'csv' file and carefully fill the details of the student.</li>
            <li> The date you are trying to enter the "Birthday" and "Admission Date" column make sure the date format is
                yyyy-mm-dd (2023-01-14).
            </li>
            <li> Do not import the duplicate "Roll Number" and "Register No".</li>
            <li> For student "Gender" use Male, Female value.</li>
            <li> If enable Automatically Generate login details, leave the "username" and "password" columns blank.</li>
            <li> The Category name comes from another table, so for the "Category", enter Category ID (can be found on the
                  category page) .
            </li>
            <li> If a parent is existing / if you want to use the same parent information for multiple students only
                enter the "Guardian Username" and leave other columns blank.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</app-layout>
