<app-layout>
  <div class="container p-5">
    <form [formGroup]="addEmployee">

    <div class="heading mb-3">
      <h4>Academic Details</h4>
      <button class="btn" data-bs-toggle="modal" data-bs-target="#multipleImport">Multiple Import</button>
    </div>

    <div class="row mb-3">
      <div class="col-4">
     

        <label class="form-label">Role *</label>
        <select class="form-select" formControlName="role">
          <option disabled value="select">Select</option>
          <option *ngFor="let emp of employe_role" [value]="emp.id">{{emp.value}}</option>
        </select>
      </div>
      <div class="col-4 offset-4">
        <label class="form-label">Joining Date *</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="text" formControlName="joiningDate" class="form-control">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <label class="form-label">Designation *</label>
        <select class="form-select" formControlName="designation">
          <option disabled value="select">Select</option>
          <option *ngFor="let emp of employe_role" [value]="emp.id">{{emp.value}}</option>
        </select>
      </div>
      <div class="col-4 offset-4">
        <label class="form-label">Department *</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <label class="form-label">Qualification *</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">Experience Details</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">Total Experience</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <!--  Employee Details  -->
    <div class="my-5">
      <h4>Employee Details</h4>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <label class="form-label">Name *</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-4 offset-4">
        <label class="form-label">Gender</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <label class="form-label">Religion</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">Blood Group</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">Date Of Birth</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <label class="form-label">Phone No. *</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-4 offset-4">
        <label class="form-label">Email Id</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <label class="form-label">Present Address *</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-4 offset-4">
        <label class="form-label">Permanent Address</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <!-- <div>
      <label class="form-label">Profile Picture</label>
      <div class="upload-cont">
        <p class="text-center">
          <i class="fa-solid fa-cloud-arrow-up"></i>
          <br>
          Drag and drop a file here or click
        </p>
      </div>
    </div> -->
    
    <div class="center">
      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Optional custom content that replaces the the entire default content.
            <button type="button" (click)="openFileSelector()">Browse Files</button>
          </ng-template>
      </ngx-file-drop>
      <div class="upload-table">
          <table class="table">
              <thead>
                  <tr>
                      <th>Name</th>
                  </tr>
              </thead>
              <tbody class="upload-name-style">
                  <tr *ngFor="let item of files; let i=index">
                      <td><strong>{{ item.relativePath }}</strong></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  

    <!-- Login Details -->
    <div class="my-5">
      <h4>Login Details</h4>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label class="form-label">User Name *</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <label class="form-label">Password</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="password" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <label class="form-label">Re-type Password</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="password" class="form-control">
        </div>
      </div>
    </div>

    <!-- Social Details -->
    <div class="my-5">
      <h4>Social Links</h4>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label class="form-label">Facebook</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <label class="form-label">Twitter</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="password" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <label class="form-label">Linkedin</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="password" class="form-control">
        </div>
      </div>
    </div>

    <!-- Bank Details -->
    <div class="my-5">
      <h4>Bank Details</h4>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" value="" id="skipBank">
      <label class="form-check-label" for="skipBank">
        Skip Bank Details
      </label>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <label class="form-label">Bank Name *</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">Holder Name *</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">Bank Branch *</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <label class="form-label">Bank Address</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">IFSC Code</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">Account Number *</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="text-end my-4">
      <button class="btn">Save</button>
    </div>
</form>
  </div>

</app-layout>


<div class="modal fade" id="multipleImport">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Multiple Import</h5>
      </div>
      <div class="modal-body px-4">
        <div class="text-end">
          <button class="btn">
            <i class="fa-regular fa-circle-down"></i>
            Download Sample Import File
          </button>
        </div>

        <h6>Instructions</h6>
        <ol>
          <li>Download the first sample file.</li>
          <li>Open the download “CSV” file and carefully fill in the employee details.</li>
          <li>The date you are trying to enter the “Date Of Birth” and “Joining Date” column make sure the
            date format is Y-m-d (2023-02-02)
          </li>
        </ol>

        <div class="mb-3">
          <label class="form-label">Role *</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Designation *</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Department *</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Select CSV File *</label>
          <div class="upload-cont">
            <p class="text-center">
              <i class="fa-solid fa-cloud-arrow-up"></i>
              <br>
              Drag and drop a file here or click
            </p>
          </div>
                 </div>
      </div>
    </div>
  </div>
</div>
