<app-layout>
  <div class="container p-4">
    <div class="row mt-5 mb-3">
      <div class="col-4">
        <label class="form-label">Class *</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">Section *</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">Day *</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="text-end mb-5">
      <button class="btn">Filter</button>
    </div>

    <h6 class="table-heading mb-3">Add Schedule</h6>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Break</th>
          <th scope="col">Subject</th>
          <th scope="col">Teacher</th>
          <th scope="col">Starting Time </th>
          <th scope="col">Ending Time </th>
          <th scope="col">Classroom</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>Six</td>
          <td>A</td>
          <td>A</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-layout>
