.inlineDatePicker{
    display: flex;
    
}
.dateInput{
    width: 50%;
    margin-left: 7%;
   }
.inlineDatePicker input {
    margin-right: 10px; 
  }
.singleLineInput{
    display: flex;
}
.form-label {
    width: 15%;
}
.form_top{
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.form-control{
    width: 50%;
    margin-left:20px; 
}