<app-layout>
    <div class="container p-4">
        <div class="tab-container">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Fee Type List">
                    <div class="pt-4">
                      <div class="top-options">
                        <div class="search-area">
                          <div class="input-group pe-3">
                            <select name="" class="selectYear">
                              <option *ngFor="let year of AcedmicYearList" value="year.year" >{{year.year}}</option>
                            </select>
                            <!-- <input type="search" class="form-control" placeholder="Search here..."> -->
                            
                            <!-- <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span> -->
                          </div>
                          <div class="options">
                            <button class="btn"><img src="assets/icons/opt-copy.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-excel.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-pdf.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-sheet.svg"></button>
                            <button class="btn"><img src="assets/icons/opt-print.svg"></button>
                          </div>
                        </div>


                      </div>

                      <table class="table mt-3">
                        <thead>
                          <tr class="addTableRow">

                            <th scope="col">SL</th>

                            <!-- <th scope="col">Acedmic Year</th> -->

                            <th scope="col">Classes</th>
                            <th scope="col">Amount</th>
                            <th scope="col">id</th>


                            <th scope="col">Remarks</th>
                            <!-- <th scope="col">Action</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let fee of feeTypes; let i = index" >

                            <td>{{i +1}}</td>


                            <!-- <td>{{fee.AcedmicYear}}</td> -->
                            <td>{{fee.class}}</td>
                            <td>RS {{fee.amount}}</td>
                            <td>{{fee.id}}</td>



                            <td>{{fee.remarks}}</td>



                            <!-- <td>
                              <button class="btn emp-edit me-1" (click)="editFeeType(fee)"  [routerLink]="'./' + fee._id" ><i class="fa-solid fa-pencil"></i></button>
                     
                              <button class="btn emp-edit ms-1" data-bs-toggle="modal" data-bs-target="#deletePrompt"
                              (click)="selectedfee=fee">
                              <i class="fa-solid fa-trash-can"></i>
                            </button>
                            </td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-tab>
                  <!-- <mat-tab label="Add Fees Type">
                    <div class="container">
                      <form [formGroup]="feeTypeForm" (ngSubmit)="addFeeType()">
                        <div class="my-3">
                            <label class="form-label">Name*</label>
                            <input type="text" formControlName= "name" class="form-control">
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Description*</label>
                            <input type="text" formControlName="description" class="form-control">
                          </div>
                         
                          <div class="text-end">
                            <button type="submit" class="btn" [disabled]="isLoading || !feeTypeForm.valid">
                              <span *ngIf="isLoading" class="spinner-border text-light"></span>
                              <span *ngIf="!isLoading">Save</span>
                            </button>
                          </div>
                        </form>
                    </div> -->
                    <mat-tab label="Add Next Year">
                      <div class="container">
                        <form [formGroup]="feeTypeForm" (ngSubmit)="addFeeType()">
                          <div class="row">
                            <div class="col-md-6 col-sm-12 mb-3 py-5 yearSelect">
                               <label class="form-label">Please Select Year</label>
                              <!-- <input type="text" formControlName="name" class="form-control"> -->
                              <select name="" class="selectYear">
                                <option *ngFor="let year of AcedmicYearList" value="year.year" class="yearSelectDropdown">{{year.year}}</option>
                              </select>
                              <!-- <div *ngIf="feeTypeForm.controls['name'].errors['required'] && (feeTypeForm.controls['name'].dirty || feeTypeForm.controls['name'].touched)"></div> -->
                            </div>
                            <div class="col-md-6 col-sm-12 mb-3 py-2 hikeSelect">
                              <label class="form-label">Add Hike</label>
                              <input type="text"  class="form-control hikeInput">
                              <!-- <div *ngIf="feeTypeForm.controls['description'].errors['required'] && (feeTypeForm.controls['description'].dirty || feeTypeForm.controls['description'].touched)"></div> -->

                            </div>
  
                          </div>
                          <div class="submitFees">
                            <button type="submit">Add Hike</button> 
                      
                          </div>
                            <!--  -->
                            <div class="col-12">
                              <div class="row">
                                  <div class="col">
              
                                  </div>
                                
                                <div class="col-12">
                                  <div class="row">
                                      <div class="col-12 ">
                                          <table class="table mt-3">
                                              <thead>
                                                <tr>
                                                  <!-- <th scope="col"><input type="checkbox" class="form-check-input"></th> -->
                                                  <th scope="col"  class="datahead">SL</th>
                                         
                                                  <th scope="col" class="datahead">Class</th>
                                     
                                                  <th scope="col" class="datahead">Amount</th>
                                                  <th scope="col" class="datahead">Updated Amount</th>
                      
                                                  <th scope="col" class="datahead">Id</th>
                                                  <th scope="col" class="datahead">Remarks</th>
                                             
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr *ngFor="let fee of feeTypes; let i = index">
                                                  <!-- <td scope="row"><input type="checkbox" class="form-check-input"></td> -->
                                                  <td>{{i+1}}</td>
                                               
                                                
                                                  <td>{{fee.class}}</td>
                                                  <td>RS {{fee.amount}}</td>
                                                  <td>RS {{fee.updatedAmount}}</td>
                                                  <td>{{fee.id}}</td>
                                                  <td>{{fee.remarks}}</td>
                      
                      
                      
  
                                                </tr>
                                              </tbody>
                                              <!-- <div *ngIf="(feeTypeForm.controls['amount'].errors['required'] || feeTypeForm.controls['dueDate'].errors['required']) && (feeTypeForm.controls['amount'].dirty || feeTypeForm.controls['dueDate'].touched || feeTypeForm.controls['dueDate'].dirty || feeTypeForm.controls['amount'].touched)"></div> -->

                                            </table> 
                                           
                                            
                                                     
                                                                 
                                          </div> 
                                  </div>
                                </div>
                              </div>
                          </div>
                          <!-- <mat-paginator [length]="100"
                          [pageSize]="10"
                          #paginator
                          [pageSizeOptions]="[ 10, 25, 100]"
                          aria-label="Select page">
            </mat-paginator> -->
                            <!--  -->
                            
                          </form>
                     
                          </div>
                   
  

                </mat-tab>

  </mat-tab-group>
            </div>

        </div>

    </app-layout>

    <!-- delete model -->
    <div class="modal fade" id="deletePrompt">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Fee type</h5>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this Fee Type?</p>
          </div>
          <div class="modal-footer">
            <button id="modalDismissBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" [disabled]="isLoading" (click)="deleteFine()">
              <span *ngIf="isLoading" class="spinner-border text-light"></span>
              <span *ngIf="!isLoading">Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>