<app-layout>
  <div class="container p-4">
    <div class="row mt-5 mb-3">
      <div class="col-4">
        <label class="form-label">Role</label>
        <input type="text" class="form-control" [(ngModel)]="filter.role">
      </div>
      <div class="col-4 offset-4">
        <label class="form-label">Template</label>
        <input type="text" class="form-control" [(ngModel)]="filter.template">
      </div>
    </div>
    <div class="text-end mb-5">
      <button class="btn" (click)="getCertificates()">Filter</button>
    </div>

    <p class="table-heading">Employee List</p>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">SL</th>
          <th scope="col">Name</th>
          <th scope="col">Staff Id</th>
          <th scope="col">Department</th>
          <th scope="col">Designation</th>
          <th scope="col">Mobile No.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cert of certi; index as i">
          <td>{{i + 1}}</td>
          <td>{{cert.applicableEmployee.name}}</td>
          <td>{{cert.applicableEmployee._id | slice:-7}}</td>
          <td>{{cert.applicableEmployee.department.name}}</td>
          <td>{{cert.applicableEmployee.designation.name}}</td>
          <td>{{cert.applicableEmployee.number}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-layout>
