<app-layout>
  <div class="container tab-container p-4">
    <div class="row mt-3 mb-3">
      <div class="text-end mb-3">
        <button class="btn">Add Schedule</button>
      </div>
      <div class="col-4">
        <label class="form-label">Teacher *</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="text-end mb-5">
      <button class="btn">Filter</button>
    </div>

    <h6 class="table-heading mb-4">Schedule List</h6>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Sunday</th>
          <th scope="col">English<br>
            (10:00 AM - 10:30 AM)<br>
            Teacher : Summer Simpson</th>
          <th scope="col">Physics<br>
            (10:30 AM - 11:00 AM)<br>
            Teacher : Jose McKinley</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Monday</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Tuesday</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Wednesday</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Thursday</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Friday</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Saturday</th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-layout>
